docs/n8n-chat-agent.json
{
  "name": "chatbot-v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "c6528de3-9970-4f53-a5bd-59af70ee8c18",
      "name": "Webhook",
      "webhookId": "80d68927-5c66-42ea-8fb4-15ee540811d1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [208, 0],
      "id": "288e56eb-857c-4f78-b6cf-2b3105043fc7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [80, 208],
      "id": "3b934fba-8917-46af-a3d3-cf7b70e7f569",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ayXlfowyrAPJDKXa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00f53803-e918-43fa-81ea-954793626ce1",
              "name": "text",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [560, 0],
      "id": "47f28fef-c0b3-4990-8ab1-7a32e605fc46",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "853e0cf7-6340-4f7a-b471-cbd777cdb6e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b1ee2fe3e07f7467ac8277f891494a4bd0ed95e07c895240afd1e35f1a5f082f"
  },
  "id": "MELcR00yB97xoJQ3Qa4o9",
  "tags": []
}
